{% extends 'sehatagahiapp/dashboard-outline.html' %}
{% load static %}
{% block notification %}
        <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-success shadow" style="background-color: #52b788;">
            <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">{{ nUnread }}</span>
        </button></a>
{% endblock %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <!--<li class="nav-item"><a href="{% url link %}" class="text-reset text-decoration-none">{{option}}</a></li>-->
              <button class="btn shadow p-3 mb-3 mx-3 therapist-sidebar-button" type="button"><img src="{% static 'sehatagahiapp/'%}{{link}}.png " height="30px" class="sidebarOptionImage" ><a href="{% url link %}" class="text-white text-decoration-none"> {{option}}</a></button>
               {% endfor %}
{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div>
    {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
</div>
<div>
<div class="alert alert-warning">Tap on an item to view it. Press Back button or close the opened tab to return to this page.</div>
</div>
<div class="container border rounded bg-light mr-5 ">
  <div class= "row ">
  {% for x in all %}
      
        {% if forloop.counter|divisibleby:4 %}
    <div class="col-md-3 col-sm-12 my-3">
      <div>
      <p class="fw-bold">{{x.Name}}</p>
      {% if  x.Type == '1' %}
   <!--<video  width="100%" height="100%" controls="controls" >
        <source src="{{x.FilePath.url}}" type="video/mp4" />
    </video>-->
    <a href="{% url 'view-video' x.pk %}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>
<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>


      {% elif x.Type == '2' %}
      <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>

<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>


      {% elif x.Type == '3' %}
      <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>
<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>


      {% endif %}
    </div>
      </div>
  </div>
    {% if not forloop.last %}
    <div class="row ">
    {% endif %}
  {% else %}
    <div class="col-md-3 col-sm-12 my-3">
      <div>
      <p class="fw-bold">{{x.Name}}</p>
    {% if  x.Type == '1' %}
    <!--<video  width="100%" height="100%" controls="controls" >
        <source src="{{x.FilePath.url}}" type="video/mp4" />
    </video>-->
    <a href="{% url 'view-video' x.pk%}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>

<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>


      {% elif x.Type == '2' %}
      <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">  <img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>

<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>

      {% elif x.Type == '3' %}
    <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>

<a class="btn btn-primary" href="{% url 'Rename-item' x.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'Delete-item' x.pk %}" role="button">Delete</a>
      {% endif %}
    </div>
      </div>
  {% endif %}
  {% endfor %}
  </div>


</div>




{% endblock %}



