{% extends 'sehatagahiapp/patient-dashboard-outline.html' %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <li class="nav-item"><a href="{% url link %}" class="text-reset text-decoration-none">{{option}}</a></li>
              {% endfor %}
{% endblock %}

{% block content %}
<div>
<h4>میری موجودہ پیشرفت</h4>
{% for t in Table %}
<h5>Track {{forloop.counter}}</h5>
{% autoescape off %}
{{t}}
<br>
{% endautoescape %}
{% endfor %}
</div>
{% for patientTrack in patientTracks %}
<h4>{{ patientTrack.Track_ID.Name }}</h4>


<div class="container border rounded bg-light mr-5 p-3">
    <div class = "row">
        <h6>Items in this Track</h6>
    </div>
    <div class= "row ">
    {% for x in patientTrack.Track_ID.Items.all %}
  
    {% if forloop.counter|divisibleby:4 %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
        {{x.Name}}
        {% if  x.Type == '1' %}
     <video  width="100%" height="100%" controls="controls" >
          <source src="{{x.FilePath.url}}" type="video/mp4" />
      </video>
        <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>
        {% elif x.Type == '2' %}
          <img  src="{{x.FilePath.url}}"  width="100%" height="100%">
         <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>
  
  
  
        {% elif x.Type == '3' %}
        <iframe src="{{x.FilePath.url}}"  width="100%" height="100%">
      </iframe>
         <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>
  
  
        {% endif %}
      </div>
        </div>
    </div>
      {% if not forloop.last %}
      <div class="row ">
      {% endif %}
    {% else %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
        {{x.Name}}
      {% if  x.Type == '1' %}
      <video  width="100%" height="100%" controls="controls" >
          <source src="{{x.FilePath.url}}" type="video/mp4" />
      </video>
  <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>

  
        {% elif x.Type == '2' %}
          <img  src="{{x.FilePath.url}}"  width="100%" height="100%">
         <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>
  
        {% elif x.Type == '3' %}
        <iframe  src="{{x.FilePath.url}}"  width="100%" height="100%">
      </iframe>
         <a class="btn btn-success" href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer">دیکھیں</a>
        <a class="btn btn-warning" href="{{x.FilePath.url}}" role="button" DOWNLOAD>ڈاؤن لوڈ کریں</a>
         <a class="btn btn-warning" href="{% url 'update-progress' x.pk patientTrack.pk %}" role="button">ورزش ہو گئی</a>
        {% endif %}
      </div>
        </div>
    {% endif %}
    {% endfor %}
    <div class="row">
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}
