{% extends 'sehatagahiapp/patient-dashboard-outline.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <!--<li class="nav-item"><a href="{% url link %}" class="text-reset text-decoration-none">{{option}}</a></li>-->
              <button class="btn shadow p-3 mb-3 mx-3 therapist-sidebar-button" type="button"><img src="{% static 'sehatagahiapp/'%}{{link}}.png " height="30px" class="sidebarOptionImage" ><a href="{% url link %}" class="text-white text-decoration-none"> {{option}}</a></button>
{% endfor %}
{% endblock %}

{% block content %}

{% if message %}
<div class="alert alert-success text-center">{{ message }}</div>
{% endif %}
<div class="border rounded bg-light m-5 p-5">
<form action="{% url 'add-log'  %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-3">واقعہ محفوظ کریں</button>
</form>
</div>
{% if logs %}
{% for log in logs %}
<div class="card p-5 mt-3 mx-5">
    <p class="fw-bold">{{ log.DateTimeAdded }}</p>
    <p>{{ log.Message }}</p>
</div>
{% endfor %}
{% else %}
<div class="card p-5 mt-3 mx-5 fw-bold">
    <p class="text-end">.فی الحال کوئ واقعہ محفوظ نہیں   </p>
</div>
{% endif %}


{% endblock %}
