{% extends 'sehatagahiapp/dashboard-outline.html' %}

{% block notification %}
    <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-primary">
        <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">{{ nUnread }}</span>
    </button></a>
{% endblock %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <li class="nav-item"><a href="{% url link patient_pk %}" class="text-reset text-decoration-none">{{option}}</a></li>
              {% endfor %}
{% endblock %}


{% block content %}
{% for track in tracks %}
<div class="row pull-right">
<div class="border rounded p-3 mt-2 bg-light">
    <h5>{{ track.Name }}</h5>
    <a class="btn btn-warning" href="{% url 'assign-track' patient_pk track.pk %}">Assign This Track</a>
</div>
</div>
{% endfor %}
{% endblock %}