{% extends 'sehatagahiapp/dashboard-outline.html' %}
{% load static %}
{% block notification %}
    <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-success shadow" style="background-color: #52b788;">
        <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">{{ nUnread }}</span>
    </button></a>
{% endblock %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <!--<li class="nav-item"><a href="{% url link patient.pk %}" class="text-reset text-decoration-none">{{option}}</a></li>-->
               <!-- {% if link == "therapist-dashboard" %}
                <button class="btn shadow p-3 mb-3 mx-3 therapist-sidebar-button" type="button"><img src="{% static 'sehatagahiapp/'%}{{link}}.png " height="30px" class="sidebarOptionImage" ><a href="{% url link %}" class="text-white text-decoration-none"> {{option}}</a></button>
                {% else %}-->
                <button class="btn shadow p-3 mb-3 mx-3 therapist-sidebar-button" type="button"><img src="{% static 'sehatagahiapp/'%}{{link}}.png " height="30px" class="sidebarOptionImage" ><a href="{% url link patient.pk %}" class="text-white text-decoration-none"> {{option}}</a></button>
               <!-- {% endif %} -->

{% endfor %}
<button class="btn shadow p-3 mb-3 mx-3 therapist-sidebar-button" type="button"><img src="{% static 'sehatagahiapp/'%}therapist-dashboard.png " height="30px" class="sidebarOptionImage" ><a href="{% url 'therapist-dashboard' %}" class="text-white text-decoration-none">Return to Dashboard</a></button>

{% endblock %}

{% block content %}
<div class="border rounded bg-light m-5 p-5">
<h4>Current Progress</h4>
{% for name,t in name_table %}
<h5>Track: {{ name }}</h5>
{% autoescape off %}
{{t}}
<br>
{% endautoescape %}
{% endfor %}
</div>
<div class="border rounded bg-light m-5 p-5">
<h4>Assigned Tracks</h4>
{% for patientTrack in patientTracks %}
<div class="bg-light mt-3">
    <h6> Name of Track: {{ patientTrack.Track_ID.Name }} </h6>
    {% if patientTrack.isActive %}
    <p>Status: Activated (Visible to Patient)</p>
    <a class="btn btn-primary" href="{% url 'change-status' patient.pk patientTrack.pk %}">De-activate</a>
    {% else %}
    <p>Status: De-activated (Invisible to Patient)</p>
    <a class="btn btn-warning" href="{% url 'change-status' patient.pk patientTrack.pk %}">Activate</a>
    {% endif %}
    <br>
    <div class="mt-2">
    <h6>Items in this Track</h6>
    <ul>
    {% for item in patientTrack.Track_ID.Items.all %}
    <li>{{ item.Name }}</li>
    {% endfor %}
    </ul>
    </div>
    <h6>Given Duration</h6>
    <div>
        <p>{{patientTrack.Duration}} Weeks</p>
    </div>
    <h6>Given Intstructions/Notes</h6>
    <div>
        <p>{{patientTrack.Notes}}</p>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}