{% extends 'sehatagahiapp/dashboard-outline.html' %}

{% block notification %}
        <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-primary">
            <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">4</span>
        </button></a>
{% endblock %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <li class="nav-item"><a href="{% url link %}" class="text-reset text-decoration-none">{{option}}</a></li>
              {% endfor %}
{% endblock %}

{% block content %}

{% for patient in patients %}
    <div class="card card-title p-3">
        <div class="row">
            <div class="col-1"><i class="fas fa-child"></i></div>
            <div class="col-5"><a href="{% url 'therapist-patient-page' patient.pk %}">{{ patient.Name }}</a></div>
        </div>
    </div>
{% endfor %}

{% endblock %}