{% extends 'sehatagahiapp/dashboard-outline.html' %}

{% block notification %}
    <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-primary">
        <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">{{ nUnread }}</span>
    </button></a>
{% endblock %}

{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <li class="nav-item"><a href="{% url link patient.pk %}" class="text-reset text-decoration-none">{{option}}</a></li>
              {% endfor %}
{% endblock %}

{% block content %}
<h4>Assigned Tracks</h4>
{% for patientTrack in patientTracks %}
<div class="bg-light mt-3">
    <h6> Name of Track: {{ patientTrack.Track_ID.Name }} </h6>
    {% if patientTrack.isActive %}
    <a class="btn btn-primary" href="{% url 'change-status' patient.pk patientTrack.pk %}">Decactivate</a>
    {% else %}
    <a class="btn btn-warning" href="{% url 'change-status' patient.pk patientTrack.pk %}">Activate</a>
    {% endif %}
    <br>
    <h6>Items in this Track</h6>
    <ul>
    {% for item in patientTrack.Track_ID.Items.all %}
    <li>{{ item.Name }}</li>
    <br>
    {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}