{% extends 'sehatagahiapp/dashboard-outline.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block notification %}
        <a href="{% url 'view-unread-logs' %}"><button type="button" class="btn btn-success shadow" style="background-color: #52b788;">
            <i class="fas fa-bell px-2"></i><span class="badge bg-secondary">{{ nUnread }}</span>
        </button></a>
{% endblock %}
{% block sidebar %}
              {% for link, option in sidebarOptions.items %}
              <!--<li class="nav-item"><a href="{% url link %}" class="text-reset text-decoration-none">{{option}}</a></li>-->
              <button class="btn btn-outline-success shadow p-3 mb-3" type="button"><a href="{% url link %}" class="text-white text-decoration-none">{{option}}</a></button>
              {% endfor %}
{% endblock %}

{% block content %}
<div class="container border rounded bg-light mr-5 p-3">
    <div class = "row">
        <h6>Items in this Track</h6>
    </div>
    <div class= "row ">
    {% if trackItems %}
    {% for x in trackItems %}
  
    {% if forloop.counter|divisibleby:4 %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
        <p class="fw-bold">{{x.Name}}</p>
        {% if  x.Type == '1' %}
        <a href="{% url 'view-video' x.pk%}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
  
  
        {% elif x.Type == '2' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>
  
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
  
  
        {% elif x.Type == '3' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
  
  
        {% endif %}
      </div>
        </div>
    </div>
      {% if not forloop.last %}
      <div class="row ">
      {% endif %}
    {% else %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
          <p class="fw-bold">{{x.Name}}</p>
      {% if  x.Type == '1' %}
      <a href="{% url 'view-video' x.pk%}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>
  
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
  
  
        {% elif x.Type == '2' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>
  
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
  
        {% elif x.Type == '3' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>
  
  <a class="btn btn-danger" href="{% url 'remove-item' track_pk x.pk %}" role="button">Remove from Track</a>
        {% endif %}
      </div>
        </div>
    {% endif %}
    {% endfor %}
    <div class="row">
      <a class="btn btn-warning" href="{% url 'view-edit-tracks' %}">Add Track to Collection</a>
    </div>
    {% else %}
    <div class="container border rounded bg-light mr-5">
      <p>No Items in this Track yet! Add items from below.</p>
    </div>
    
    {% endif %}
    </div>
</div>

<h6 class="p-3">Add Items from Below</h6>

<div class="container border rounded bg-light mr-5 ">
    <div class = "row">
        <form class="input-group mt-3">
            <input name="q" type="search" placeholder="Search items..." class="form-control">
            <button type="submit" class="btn btn-primary float-end">Search</button>
        </form> 
    </div>
    <div class= "row ">
    {% if items %}
    {% for x in items %}
  
    {% if forloop.counter|divisibleby:4 %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
          <p class="fw-bold">{{x.Name}}</p>
        {% if  x.Type == '1' %}
        <a href="{% url 'view-video' x.pk%}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
  
  
        {% elif x.Type == '2' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>
  
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
  
  
        {% elif x.Type == '3' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
  
  
        {% endif %}
      </div>
        </div>
    </div>
      {% if not forloop.last %}
      <div class="row ">
      {% endif %}
    {% else %}
      <div class="col-md-3 col-sm-12 my-3">
        <div>
          <p class="fw-bold">{{x.Name}}</p>
      {% if  x.Type == '1' %}
      <a href="{% url 'view-video' x.pk%}"><img src="{% static 'sehatagahiapp/video_icon.png' %}" height="100%" width="100%"></a>
  
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
  
  
        {% elif x.Type == '2' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img  src="{{x.FilePath.url}}"  width="100%" height="100%"></a>
  
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
  
        {% elif x.Type == '3' %}
        <a href="{{x.FilePath.url}}" role="button" target="_blank" rel="noopener noreferrer"><img src="{% static 'sehatagahiapp/document_icon.png' %}" height="100%" width="100%"></a>
  
  <a class="btn btn-primary" href="{% url 'add-item' track_pk x.pk %}" role="button">Add to Track</a>
        {% endif %}
      </div>
        </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="container border rounded bg-light mr-5 mt-3">
      <p>No items found!</p>
    </div>
    
    {% endif %}
    </div>
</div>




  
{% endblock %}